@model LikeIt_DislikeIt.Models.Image

@{
    ViewBag.Title = "ViewImage";
}

@using (Html.BeginForm("ProcessForm", "Home", FormMethod.Post))
{
<h2>ViewImage</h2>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd>
            <img src="@Url.Content(Model.ImagePath)" width="250" height="250" />
        </dd>

    </dl>
    <input id="Button1" type="submit" name="like" value="Like"/>
    <input type="text" hidden name="title" value="@Url.Content(Model.Title)" />
    <input type="button" onClick="history.go(0)" value="Refresh">
    <input id="Button2" type="submit" name="dislike" value="Dislike"/>

</div>
}
